<div class="wrapper">
  <app-app-header></app-app-header>
  <app-app-nav></app-app-nav>

  <div class=" content-wrapper transition">
    <section class="content-header overflow">

      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> 首页</a>
        </li>
        <li class="active">仪表盘</li>
      </ol>
    </section>

    <section class="content ">
      <router-outlet></router-outlet>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016
      <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->

</div>


<!--  -->